@import url(testo.css);

body {
  max-width: 60em;
}

p {
  text-indent: 0;
}

ul {
  margin-top: 0.5em;
}

ol {
  margin-top: 1.1em;
}

h3 {
  text-align: center;
}

table {
  border: 1px solid #BBD;
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: 2em;
  margin-top: 1.1em;
}

table td,
table th {
  border: 1px solid #BBD;
  padding: 0 0.4em;
  text-align: center;
  vertical-align: top;
}

table tr:first-child th {
  vertical-align: middle;
}

table th {
  color: #555;
  font-style: normal;
}

blockquote {
  border-left: 10px solid #EEF;
  margin-left: 1em;
  padding-left: 1em;
}