* {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: white;
}

body {
  background: white;
  color: #222;
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 2em auto 2em auto;
  max-width: 60em;
  padding: 1em;
}


code {
  color: #060;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: bold;
}

code b {
  font-weight: bold;
  font-style: italic;
}


a {
  text-decoration: none;
}

a:link {
  color: #00F;
}

a:visited {
  color: #009;
}

a:hover {
  border-bottom: 1px dotted #009;
  color: #00F;
}


#logo {
  margin-bottom: 2em;
  text-align: center;
}

#logo a:hover {
  border: none;
}

.paje-prima #logo {
  float: left;
  height: 120px;
  width: 280px;
}



h1 {
  font-size: 150%;
  margin-bottom: 3em;
}

h2 {
  background: #EEF;
  color: #444;
  font-size: 105%;
  font-style: italic;
  font-weight: bold;
  margin: 2em 0 0.7em 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: left;
}

h3 {
  font-size: 105%;
  font-weight: bold;
  margin-top: 1.4em;
  text-align: left;
}

h4 {
  color: #555;
  font-size: 105%;
  font-weight: bold;
  margin-top: 1.1em;
  text-align: left;
}


p {
  margin-top: 1.1em;
}


ul, ol {
  margin-top: 0em;
}

ul li {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfeAg8LEwfgnExpAAAAB3RJTUUH3gIPDRI0l9uD/AAAAAlwSFlzAAAK8AAACvABQqw0mAAAACZJREFUeNpj3L37LgMGYGLABlgglLGxEoRx9uw9nGrxmgDRSEAtANvfB91Nbbj6AAAAAElFTkSuQmCC);
  background-position: 1em 0.55em;
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 2em;
}

ol {
  margin-left: 2em;
}

ol li {
  margin-top: 0.3em;
}

ul.contenidas {
  background-color: #EEF;
  font-size: 85%;
  margin: 4em 0 4em 0;
  padding: 0.7em 0 0.7em 0;
}

ul.contenidas li.h3 {
  margin-left: 2em;
}

ul.contenidas li.h4 {
  margin-left: 4em;
}


table.automata {
  border: 1px solid #BBD;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 90%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

table.automata th {
  background-color: #EEF;
  font-style: italic;
  text-align: left;
}

table.automata tr:nth-child(odd) {
  background-color: #EEF;
}

table.automata td,
table.automata th {
  border: 1px solid #BBD;
  padding: 0 0.4em;
  vertical-align: top;
}

table.automata th {
  font-weight: bold;
}


#introdui table {
  font-size: 100%;
}

#introdui tr:nth-child(odd) {
  background-color: white;
}

#introdui td,
#introdui th {
  border: none;
  padding-left: 1em;
  padding-right: 1em;
}

#introdui .de-2-colonas td,
#introdui .de-2-colonas th {
  width: 50%;
}

#introdui .de-3-colonas td,
#introdui .de-3-colonas th {
  width: 33.33%;
}

#introdui td {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

#introdui tr {
  border-top: 1px solid #BBD;
}


#funda dl {
  margin-left: 1em;
  margin-top: 1.1em;
}

#funda dl dt {
  margin-top: 0.6em;
}


#vocabulo tbody {
  border-bottom: 6px solid #BBD;
  border-top: 6px solid #BBD;
}


#pede {
  border-top: 1px solid #BBD;
  color: #444;
  margin-bottom: 1.1em;
  margin-top: 3em;
  font-size: 70%;
  padding-top: 0.2em;
  text-align: center;
}

#pede p {
  margin: 0;
}


.era {
  background-color: #FF8;
  color: #F00;
}

.destra {
  float: right;
  margin-left: 2em;
}


#paje-prima h1 {
  display: none;
}

#paje-prima #logo {
  float: left;
  margin-bottom: 0;
  margin-right: 1em;
}

#paje-prima .menu {
  clear: both;
  display: table;
  width: 100%;
}

#paje-prima .menu .colona {
  display: table-cell;
  width: 50%;
}

#paje-prima .menu .colona:first-child {
  padding-right: 40px;
}

#libro-alisia {
  float: right;
}

.aContenidas {
    float: right;
    text-align: right;
}