@import url(stilo.css);

body {
  max-width: 45em;
}

.titulo {
  margin-bottom: 5em;
  text-align: center;
}

h1 {
  margin-bottom: 0.2em;
}

.titulo p {
  margin-top: 0.1em;
  text-indent: 0;
}

p {
  text-indent: 2em;
}

p.nonindenteda {
  text-indent: 0;
}

hr {
  margin-bottom: 3em;
}

pre {
  font-family: Georgia, serif;
  font-size: 100%;
  font-style: italic;
  margin: 1.1em 2em 0 4em;
}

pre i {
  font-style: normal;
}

.sentrida {
  text-align: center;
  text-indent: 0;
}

.destra {
  clear: right;
  float: right;
  margin: 1.5em 0 1em 2em;
}

.titulo+.destra {
  margin-top: 0;
}

.naviga {
  font-size: 90%;
  font-style: italic;
  margin-top: 3em;
  width: 100%;
}

.naviga td {
  border: none;
  text-align: right;
}

.naviga td:first-child {
  text-align: left;
}